.btn-secondary {
  background: linear-gradient(to top, #f26d52, #ed462d);
  border: 6px solid #f26d52;
  border-radius: 16px;
  padding: 8px 20px;
  transition: .4s;
  box-shadow: 0 0 10px rgba(255,255,255,0.2);

}
